# sudo apt-get install python3-pip

matplotlib==3.3.4

# sudo apt-get install libopenblas-base libopenmpi-dev
# pip3 install Cython
numpy==1.19.4

# opencv-python # Ignorin on jetson nano | use: sudo apt install python3-opencv
requests>=2.23.0
fastapi==0.63.0
uvicorn[standard]==0.11.8
# PyQt6  # Ignorin on jetson nano
pillow>=7.1.2
PyYAML>=5.3.1
pydantic
scipy>=1.4.1

# Torch --------------------------------------------------------------------------
# torch==1.8.0  # Use setup by build from whl for jetson nano
# wget https://nvidia.box.com/shared/static/p57jwntv436lfrd78inwl7iml6p13fzh.whl -O torch-1.8.0-cp36-cp36m-linux_aarch64.whl -O torch-1.9.0-cp36-cp36m-linux_aarch64.whl
# pip3 install torch-1.9.0-cp36-cp36m-linux_aarch64.whl  # Installin torch 1.8.0 (not 1.9.0)

# Torchvision --------------------------------------------------------------------
# torchvision==0.9.0 # or torchvision-0.9.9a0+8fb5838 for jetson nano
# git clone --branch v0.9.1 https://github.com/pytorch/vision torchvision
# cd torchvision/
# export BUILD_VERSION=0.9.0
# sudo python3 setup.py install --user
# --------------------------------------------------------------------------------

tqdm>=4.64.0
protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012

tensorboard>=2.4.1

pandas>=1.1.4
seaborn>=0.11.0

ipython  # interactive notebook
psutil  # system utilization
thop>=0.1.1  # FLOPs computation

# Finaly, clone yolov5 repo (relise 6.2) or unzip yolov5-6.2.zip like yolov5/
# Dont install requirements.txt from yolov5!
